.banner-container {
  background-color: #fff159;
  max-width: 1200px;
  margin: 0 auto;
}

.banner-perimeter-container {
  position: relative;
}

.banner-left-content-container {
 display: flex;
 flex-direction: column;
 justify-content: center;

}

.banner-section-title{
  display: flex;
  height: 25px;
}

.banner-section-icon{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.car-icon-icon{
  color:#fff;
}

.banner-section-text{
  width: 80%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.banner-section-text p{
  font-weight: 900;
}

.banner-title {
  font-size: 30px;
  font-weight: bold;
}

.porcentage-text-container{
  display: flex;
  justify-content: end;
}

.porcentage-right-title{
 
}

.porcentage-number{
  width: 70px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.porcentage-number p{
 font-size: 60px;
 font-weight: bolder;
 
}

.porcentage-icon{
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: end;

}



.arrow-container {
  position: absolute;
  background-color: #fff;
}

.arrow-container > i {
  color: rgb(76, 171, 233);
  font-size: 30px;
}

.arrow-container.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.arrow-container.right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.banner-content-container {
  display: flex;
  max-width: 60%;
  margin: 0 auto;
}

.porcentage-container {
  display: flex;
}

.porcentage-left-container {
  display: flex;
  flex-direction: column;
}

.palito-pablito {
  background-color: black;
  width: 5px;
  flex: 1;
  
}

.porcentage-right-container {
  display: flex;
  flex-direction: column;
}

.porcentage-text-container {
  display: flex;
}

.banner-right-content-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-image-padding-container {
  padding: 10px;
  width: calc(100% / 4);
}

.grid-img-container {
  height: 100px;
}

.grid-img {
  width: 100%;
  height: 100%;
}
