.navbar-container-principal {
  background-color: #fff159;
}

.navbar-container-max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-superior-container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-superior-container > div {
  margin: 0 10px;
}

.navbar-search-container {
  height: 40px;
  display: flex;
  flex: 1;
}

.navbar-search-input {
  width: 100%;
  padding: 7px 60px 9px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  border: 0 rgba(0, 0, 0, 0.2);
}

.navbar-search-icon {
  background-color: #fff;
  display: flex;
  align-items: center;
}

.advertising-container {
  display: flex;
  width: 30%;
}

.advertising-left-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ad-img-container {
  width: 60px;
  height: 30px;
}

.ad-img {
  width: 100%;
  height: 100%;
}

.advertising-left-container p {
  font-size: 10px;
}

.advertising-right-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-left: 10px;
}

/*
pixels a em

Mobile Phones    @media (max-width:480px){}
Tablets          @media (max-width:960px){}
Laptops/Desktop  @media (min-width:1025px){}
Hi-Res Laptops   @media (max-width:1280px){}
*/

/*iphone*/
@media only screen and (min-device-width: 480px) {
}

/*tablets*/
@media only screen and (min-device-width: 768px) {
}
