.product-container {
  background-color: #ebebeb;
  margin-top: 30px;
}

.product-porcentage-container {
  max-width: 1200px;
  margin: 0 auto;
}

.title-product-container {
  display: flex;
  align-items: center;
}

.title-text {
  font-size: 20px;
}

.link-text {
  margin-left: 10px;
  font-size: 13px;
  color: blue;
}

.carousel-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* .carousel-container > .card-padding-container:not(:last-child) {
  padding-right: 10px;
} */

.card-padding-container {
  width: 25%;
  padding: 5px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
}

.img-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-text {
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
}

@media screen and (max-width: 480px) {
  .carousel-container {
    flex-wrap: wrap;
  }

  .card-padding-container {
    width: 100%;
  }
}
